*.qmlproject.*
*.qmlproject
*.db*
*.db
__pycache__/
.idea/
_audio/
FACE/temp_img/
venv/
FACE/facepointmemo/
build/
dist/
src/kyokowt.egg-info/
FACE/emomemo/

MakeGraph/graphs/
validation/
train/
models/
SENTENCE/split_temp/

src/MIA_Libraries_CY/KyokoLoggingkun.c

*.pyd

src/MIA_Libraries_CY/Face_Process.c

src/MIA_Libraries_CY/FACEmod.c
